# Pandas basics

In [2]:
!ls

01-pandas basics.ipynb continent_facts.csv    countries.csv

## LET'S INSTALL PANADA
## STEP 01

In [ ]:
# '--quiet' give less output.

## STEP 02

In [3]:
!pip install --quiet pandas

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: pip install --upgrade pip

In [ ]:
# this means "I want to use requests in this notebook/file"
import requests

## STEP 03

In [7]:
import pandas as pd

## STEP 04

In [8]:
pandas.read_csv("countries.csv")

,country,continent,life_expectancy,population,gdp
0,Afghanistan,Asia,54.863,22856302,15153728226
1,Albania,Europe,74.200,3071856,12886435920
2,Algeria,Africa,68.963,30533827,155661450046
3,Angola,Africa,45.234,13926373,34063908358
4,Antigua and Barbuda,N. America,73.544,77656,989182128
...,...,...,...,...,...
183,Vietnam,Asia,73.777,78758010,124201381770
184,West Bank and Gaza,Asia,70.929,3198560,24264276160
185,"Yemen, Rep.",Asia,60.404,17723186,39292303362
186,Zambia,Africa,41.802,10201562,10558616670
187,Zimbabwe,Africa,43.976,12509477,9319560365

## STEP 05
Use pd to read in the csv."countries.csv"
this is called a dataframe

In [11]:
df=pd.read_csv("countries.csv")

## STEP 06
LET'S LOOK AT THE FIRST FIVE

In [12]:
# let's look at the first five
df.head()

               country   continent  life_expectancy  population           gdp
0          Afghanistan        Asia           54.863    22856302   15153728226
1              Albania      Europe           74.200     3071856   12886435920
2              Algeria      Africa           68.963    30533827  155661450046
3               Angola      Africa           45.234    13926373   34063908358
4  Antigua and Barbuda  N. America           73.544       77656     989182128

In [9]:
pd.read_csv("countries.csv")

,country,continent,life_expectancy,population,gdp
0,Afghanistan,Asia,54.863,22856302,15153728226
1,Albania,Europe,74.200,3071856,12886435920
2,Algeria,Africa,68.963,30533827,155661450046
3,Angola,Africa,45.234,13926373,34063908358
4,Antigua and Barbuda,N. America,73.544,77656,989182128
...,...,...,...,...,...
183,Vietnam,Asia,73.777,78758010,124201381770
184,West Bank and Gaza,Asia,70.929,3198560,24264276160
185,"Yemen, Rep.",Asia,60.404,17723186,39292303362
186,Zambia,Africa,41.802,10201562,10558616670
187,Zimbabwe,Africa,43.976,12509477,9319560365

## STEP 07
## I WANT TO LOOK AT THE LIFE EXPECTANCY

In [16]:
df["life_expectancy"]

0      54.863
1      74.200
2      68.963
3      45.234
4      73.544
        ...
183    73.777
184    70.929
185    60.404
186    41.802
187    43.976
Name: life_expectancy, Length: 188, dtype: float64

## STEP 08
## SORT AND WANT IT TO BE PRETTY
## AND FROM THE HIGHEST TO THE LOWEST

In [19]:
df.sort_values('life_expectancy',ascending=False)

,country,continent,life_expectancy,population,gdp
83,Japan,Asia,81.350,125720310,3590446333290
72,"Hong Kong, China",Asia,80.361,6783317,203309577124
161,Switzerland,Europe,79.990,7167908,246475684488
7,Australia,Oceania,79.930,19164351,560384787591
160,Sweden,Europe,79.840,8860153,253754781920
...,...,...,...,...,...
3,Angola,Africa,45.234,13926373,34063908358
187,Zimbabwe,Africa,43.976,12509477,9319560365
31,Central African Rep.,Africa,43.727,3701607,2820624534
186,Zambia,Africa,41.802,10201562,10558616670
147,Sierra Leone,Africa,38.123,4143115,2141990455

## STEP 09
## I ONLY WANT THE TOP 10

In [21]:
df.sort_values("life_expectancy", ascending=False).head(10)

              country   continent  life_expectancy  population            gdp
83              Japan        Asia           81.350   125720310  3590446333290
72   Hong Kong, China        Asia           80.361     6783317   203309577124
161       Switzerland      Europe           79.990     7167908   246475684488
7           Australia     Oceania           79.930    19164351   560384787591
160            Sweden      Europe           79.840     8860153   253754781920
81              Italy      Europe           79.730    56986329  1547748695640
74            Iceland      Europe           79.720      281210     8743381320
29             Canada  N. America           79.410    30667365   995094659520
155             Spain      Europe           79.340    40288457   943152778370
57             France      Europe           79.230    59047795  1690892657620

## We want to entry country in Asia with a life expectancy over 75

In [23]:
## We want to entry country in Asia with a life expectancy over 75
## df[life_expectancy] > 75
## df['continent'] =='Asia'
## and 用&来表示

(df['life_expectancy']>75) & (df["continent"]== "Asia")

0      False
1      False
2      False
3      False
4      False
       ...
183    False
184    False
185    False
186    False
187    False
Length: 188, dtype: bool

## 彻底变美，前面再加一个df

In [25]:
df[(df['life_expectancy']>75) & (df["continent"]== "Asia")]

              country continent  life_expectancy  population            gdp
23             Brunei      Asia           75.927      327036    15704268720
72   Hong Kong, China      Asia           80.361     6783317   203309577124
80             Israel      Asia           78.750     6014953   137345436802
83              Japan      Asia           81.350   125720310  3590446333290
89        Korea, Rep.      Asia           76.114    45987624   781559669880
100      Macao, China      Asia           77.627      431867     9722189904
135             Qatar      Asia           76.680      590957    35690257058
148         Singapore      Asia           78.340     3919300   144363496200
163            Taiwan      Asia           76.020    22183000   521855075000

## 如果只是想要特别其中的一个国家

In [27]:
df[(df["country"]== "Mexico")]

    country   continent  life_expectancy  population            gdp
110  Mexico  N. America            74.38    99959594  1088959817036

## I WANT A BETTER MEASURE OF CENTRAL TENDENCIES

In [28]:
# if you want to have median
df["life_expectancy"].median()

np.float64(70.04150000000001)

In [29]:
# if you want to know the sum
df["gdp"].sum()

np.int64(48316204002444)

In [30]:
## i want to know them all
df["life_expectancy"].describe()

count    188.000000
mean      66.501536
std       10.298458
min       38.123000
25%       59.663750
50%       70.041500
75%       74.134500
max       81.350000
Name: life_expectancy, dtype: float64

## I want to do the correlation

In [35]:
# can we do the per captial gdp
# gdp/population

df['gdp_per_capital'] = df['gdp']/df['population']
df.head(2)

,country,continent,life_expectancy,population,gdp,gdp_per_capital
0,Afghanistan,Asia,54.863,22856302,15153728226,663.0
1,Albania,Europe,74.200,3071856,12886435920,4195.0

## GROUPBY

In [39]:
# 1: USE df
# 2: filters
# 3: groupny
# 4: column(s)
# 5: the math

df.groupby('continent')['life_expectancy'].median()

continent
Africa        52.1025
Asia          70.4275
Europe        75.5800
N. America    70.5765
Oceania       67.4955
S. America    70.7660
Name: life_expectancy, dtype: float64

## 试一试south america怎么看head 2

In [41]:
south_america=df[df['continent'] =='S. America']
south_america.head(2)

,country,continent,life_expectancy,population,gdp,gdp_per_capital
5,Argentina,S. America,73.822,36930709,390394524839,10571.0
19,Bolivia,S. America,62.994,8307248,28194799712,3394.0

## how many countries in each continent？

In [44]:
df['continent'].value_counts()

continent
Africa        54
Asia          48
Europe        42
N. America    22
S. America    12
Oceania       10
Name: count, dtype: int64

## Reading stuff from the internet???

In [46]:
url="https://www.theguardian.com/football/laligafootball/table"
tables = pd.read_html(url)
len(tables)

1

In [48]:
tables[0]

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Alaves,0,0,0,0,0,0,0,0,Won 1-0 against Valencia Drew 2-2 with Girona...
1,2,A Bilbao,0,0,0,0,0,0,0,0,Won 2-0 against Getafe Drew 2-2 with Osasuna ...
2,3,Atlético,0,0,0,0,0,0,0,0,Won 1-0 against Mallorca Won 1-0 against Celt...
3,4,Barcelona,0,0,0,0,0,0,0,0,Lost 2-4 to Girona Won 2-0 against Real Socie...
4,5,Celta Vigo,0,0,0,0,0,0,0,0,Won 3-2 against Villarreal Lost 0-1 to Atléti...
5,6,Getafe,0,0,0,0,0,0,0,0,Lost 0-2 to A Bilbao Lost 0-1 to Cadiz Lost ...
6,7,Girona,0,0,0,0,0,0,0,0,Won 4-2 against Barcelona Drew 2-2 with Alave...
7,8,Las Palmas,0,0,0,0,0,0,0,0,Lost 0-2 to Real Sociedad Lost 0-1 to Mallorc...
8,9,Leganes,0,0,0,0,0,0,0,0,NaN
9,10,Mallorca,0,0,0,0,0,0,0,0,Lost 0-1 to Atlético Won 1-0 against Las Palm...
10,11,Osasuna,0,0,0,0,0,0,0,0,Lost 0-2 to Real Betis Drew 2-2 with A Bilbao...
11,12,Rayo Vallecano,0,0,0,0,0,0,0,0,Lost 0-1 to Almeria Drew 0-0 with Valencia W...
12,13,Real Betis,0,0,0,0,0,0,0,0,Won 2-0 against Osasuna Won 3-2 against Almer...
13,14,Real Madrid,0,0,0,0,0,0,0,0,Won 3-0 against Cadiz Won 4-0 against Granada...
14,15,Real Sociedad,0,0,0,0,0,0,0,0,Won 2-0 against Las Palmas Lost 0-2 to Barcel...
15,16,Sevilla,0,0,0,0,0,0,0,0,Won 3-0 against Granada Lost 2-3 to Villarrea...
16,17,Valencia,0,0,0,0,0,0,0,0,Lost 0-1 to Alaves Drew 0-0 with Rayo Valleca...
17,18,Valladolid,0,0,0,0,0,0,0,0,NaN
18,19,Villarreal,0,0,0,0,0,0,0,0,Lost 2-3 to Celta Vigo Won 3-2 against Sevill...

In [50]:
df.to_csv("team.csv", index=False)

## API STUFF?

In [55]:
import requests

url = "http://api.weatherapi.com/v1/forecast.json?key=1deea713c0524e4abd621042220711&q=London&days=3&aqi=yes&alerts=no"
response = requests.get(url)
data = response.json()

In [56]:
data.keys()

dict_keys(['error'])

In [54]:
data['forecast']['forecastday']

KeyError: 'forecast'

In [57]:
pd.DataFrame(data['forecast']['forecastday'])

KeyError: 'forecast'

In [58]:
pd.json_normalize(data['forecast']['forecastday'])

KeyError: 'forecast'

In [59]:
pd.json_normalize(data['forecast']['forecastday'][0]['hour'])

KeyError: 'forecast'